body{
    font-family: Arial, serif;
    background-image: url("../img/background.png");
    background-size: 100%;
}
a{
    text-decoration: none;
    color: dimgray;
    font-size: 18px;
}
a:active, a:hover{
    color: black;
    text-decoration: none;
}
a:not([href]){
    color: dimgray;
    cursor: default;
}
a:not([href]):active, a:not([href]):hover{
    color: dimgray;
    cursor: default;
}
.left, .right{
    background-color: lightgray;
    padding: 0;
}
.center{
    background-color: #4ecfdd;
    padding: 1% 1% 0 1%;
    min-height: calc(100vh - 196px);
}
.left, .center, .right, .footer{
    top: 91px
}
.footer{
    background-color: #eeeeee;
    padding: 10px;
    text-align: center;
    color: gray;
    height: 105px;
}
#accordion{
    top: 91px
}
#accordion > .card{
    border-radius: 0;
    border: 0;
}
#accordion > .card > .card-header{
    background-color: #23af23;
    border-radius: 0;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.nb{
    padding: 0;
}
.navbar{
    margin: 0 15px;
    right: 8.333333%;
    left: 8.333333%;
    padding: 8px 40px;
    background-color: #eeeeee!important;
}
.navbar-brand{
    font-size: 35px;
    color: black;
}
.navbar-brand:hover, .navbar-brand:active{
    color: black;
}
.navbar-brand > img{
    width: 65px;
}
.row{
    margin: 0;
}
.nav-item{
    margin: 0 50px;
}
.btn{
    font-size: 20px;
    border-radius: 10px;
}
.btn-success{
    background-color: #23af23;
    border-color: #23af23;
}
.btn-success:hover .btn-success:focus{
    background-color: #289028;
    border-color: #289028;
}
.jumbotron{
    border-radius: 1vw;
    margin-bottom: 2%;
}
.phonemenu{
    display: none;
}

@media only screen and (max-width: 1440px){
    .navbar{
        padding: 8px 20px;
    }
    .navbar-brand{
        font-size: 25px;
    }
    .navbar-brand > img{
        width: 45px;
    }
    .nav-item{
        margin: 0 25px;
    }
    .btn{
        font-size: 15px;
        border-radius: 8px;
    }
    .left, .center, .right, .footer{
        top: 71px
    }
    #accordion{
        top: 71px
    }
    .center{
        min-height: calc(100vh - 151px);
    }
    .footer{
        font-size: 11px;
        height: 80px;
    }
}
@media only screen and (max-width: 991px) {
    .navbar{
        padding: 8px 15px;
    }
    .center{
        min-height: calc(100vh - 161px);
    }
    .footer{
        font-size: 10px;
        height: 90px;
    }
    .navbar{
        right: 0;
        left: 0;
        margin: 0;
    }
    .main{
        padding: 0;
    }
}
@media only screen and (max-width: 767px) {

    .left{
        top: 0;
    }
    #accordion{
        position: relative;
    }
    .center{
        min-height: auto;
        padding: 10px 10px 0 10px;
    }
    .footer{
        height: auto;
    }
    .navbar-nav{
        display: none;
    }
    .navbar-brand{
        margin-right: auto!important;
    }
    .jumbotron{
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .phonemenu{
        display: block;
    }
}